.size-control-panel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-bottom: 14px;
}

app-slider-with-input {
  margin-right: 14px;
  margin-bottom: 14px;
}

mat-card {
  margin: 14px;
}

.mat-card-actions {
  margin-left: 0px;
  margin-bottom: 14px !important;
}

.mat-radio-button {
  margin-right: 14px;
}
