.cell {
  border: 1px solid black;
  border-right-style: none;
  border-bottom-style: none;
}

.status-default {

}

.status-alive {

}

.status-dead {

}

.status-start {

}

.status-end {

}

.status-wall {

}
