.cell {
  float: left;
  border: 1px solid;
  border-right: none;
  border-bottom: none;
  border-color: black;
}

.status-default {

}

.status-alive {

}

.status-dead {

}

.status-start {

}

.status-end {

}

.status-wall {

}
