<div style="overflow: scroll"
     [style.max-height]="maxHeight+'px'">
  <div style="width: 100%; height: 100%">
    <div class="grid-row" *ngFor="let row of grid.raw_grid; last as isBottomRow">
      <app-cell class="grid-cell" *ngFor="let cell of row; last as isRightCell; first as isLeftCell"
                [cell]="cell"
                [is_bottom_edge_cell]="isBottomRow"
                [is_right_edge_cell]="isRightCell"
                [cellHeight]="cellHeight"
                [cellWidth]="cellWidth"
                (click)="click_on_cell(cell)">
      </app-cell>
    </div>
  </div>
</div>
