<div *ngFor="let row of grid.raw_grid; last as isBottomRow">
  <app-cell *ngFor="let cell of row; last as isRightCell; first as isLeftCell"
            [cell]="cell"
            [is_bottom_edge_cell]="isBottomRow"
            [is_right_edge_cell]="isRightCell"
            [is_left_edge_cell]="isLeftCell"
            (click)="click_on_cell(cell)">
  </app-cell>
</div>

<!--
//remove inline border-right
        if(x != width-1) cell_style["border-right"] = "none"

        //line break
        if(x == 0)  cell_style["clear"] = "both"

        //remove inline border-bottom
        if(y != height-1) cell_style["border-bottom"] = "none"
-->
